<img src="img/full-logo.png" alt="full logo" (load)="imageLoaded.set(true)">
@if (!imageLoaded()) {
  <div class="loading"></div>
}
<h1>Madu</h1>
<h2>Household</h2>
<div class="buttons">
  <app-button (appButtonClick)="router.navigate(['auth', 'login'])">{{ 'auth.login' | translate }}</app-button>
  <app-button appButtonType="secondary" (appButtonClick)="router.navigate(['auth', 'register'])">{{ 'auth.register' | translate }}</app-button>
  <app-button appButtonType="tertiary">Was ist MaduHousehold?</app-button>
</div>
